HELP.md
target/
.mvn/
out/
logs/
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
*.properties

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.cmd
*.md

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/